body{
    background: #4ecfbc;
    margin: 0;
    padding: 0;
}

section{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}
/*Llamados a la etiqueta body, abrimos y cerramos llaves/*

/* Con control+} podemos hacer una nota en css */
/* vh se utiliza para ajustar el tamaño de la pagina con la informacion que tiene */